# Python
__pycache__/
*.py[cod]
*.so

# SQLite database file (if you're using SQLite)
*.db

# Environment variables
.env

# IDE-specific files
.vscode/
.idea/

# Logs
*.log


# Virtual Environment
env-todo-bot/
